<div style="width: 90%; margin:auto">
    <ol class="post-list">
        {{#each posts}}
        <div class="post" style="border:solid;">
            <div class="card col-12">
                <div class="card-header" style="background-color:rgb(40, 41, 33)" ;>
                    <p class="text-left" style="font-size:20px; color: white">{{title}}</p>
                    <p class="text-right" style="font-size: 15px; color: white"> Posted by {{user.username}} on
                        {{created_at}}</p>
                </div>
                <div class="card-body" style="background-color: rgb(111, 131, 124) ;">
                    <p>{{content}}</p>
                    <a href="/post/{{id}}">Comment</a>
                </div>

            </div>
        </div>
        {{/each}}
    </ol>
</div>